<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testeglobojeremias">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application android:icon="@mipmap/ic_launcher">

    <activity android:name=".MovieDetailActivity"
        android:theme="@style/theme.app.screen.nobar"/>
    <activity android:name=".MainActivity"
        android:exported="true"
        android:label="globoplay"
        android:theme="@style/Theme.App.Starting">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

</application>

</manifest>





