<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   extraInfo.plist
   Desafio GloboPlay

   Created by Filipo Negrao on 04/11/19.
   Copyright (c) 2019 Filipo Negrao. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
